.animation-1{
animation:transform .5s ease-out;
}

@keyframes transform {
    0%{
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(0);
    }
  }

  select option{
    background-color: violet;
    margin: 10px;

  }